        /* customizable snowflake styling */
        .snowflake {
          color: #fff;
          font-size: 1em;
          font-family: Arial, sans-serif;
          text-shadow: 0 0 1px cornflowerblue;
        }
      
        @-webkit-keyframes snowflakes-fall {
          0% {
            top: -10%
          }
          100% {
            top: 100%
          }
        }
      
        @-webkit-keyframes snowflakes-shake {
          0%,
          100% {
            -webkit-transform: translateX(0);
            transform: translateX(0)
          }
          50% {
            -webkit-transform: translateX(80px);
            transform: translateX(80px)
          }
        }
      
        @keyframes  snowflakes-fall {
          0% {
            top: -10%
          }
          100% {
            top: 100%
          }
        }
      
        @keyframes  snowflakes-shake {
          0%,
          100% {
            transform: translateX(0)
          }
          50% {
            transform: translateX(80px)
          }
        }
      
        .snowflake {
          position: fixed;
          top: -10%;
          z-index: 9999;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: default;
          -webkit-animation-name: snowflakes-fall, snowflakes-shake;
          -webkit-animation-duration: 10s, 3s;
          -webkit-animation-timing-function: linear, ease-in-out;
          -webkit-animation-iteration-count: infinite, infinite;
          -webkit-animation-play-state: running, running;
          animation-name: snowflakes-fall, snowflakes-shake;
          animation-duration: 10s, 3s;
          animation-timing-function: linear, ease-in-out;
          animation-iteration-count: infinite, infinite;
          animation-play-state: running, running;
          pointer-events: none;
        }
        .snowflake img {
          width: 70%;
        }
      
        .snowflake:nth-of-type(0) {
          left: 1%;
          -webkit-animation-delay: 0s, 0s;
          animation-delay: 0s, 0s
        }
      
        .snowflake:nth-of-type(1) {
          left: 10%;
          -webkit-animation-delay: 1s, 1s;
          animation-delay: 1s, 1s
        }
      
        .snowflake:nth-of-type(2) {
          left: 20%;
          -webkit-animation-delay: 6s, .5s;
          animation-delay: 6s, .5s
        }
      
        .snowflake:nth-of-type(3) {
          left: 30%;
          -webkit-animation-delay: 4s, 2s;
          animation-delay: 4s, 2s
        }
      
        .snowflake:nth-of-type(4) {
          left: 40%;
          -webkit-animation-delay: 2s, 2s;
          animation-delay: 2s, 2s
        }
      
        .snowflake:nth-of-type(5) {
          left: 50%;
          -webkit-animation-delay: 8s, 3s;
          animation-delay: 8s, 3s
        }
      
        .snowflake:nth-of-type(6) {
          left: 60%;
          -webkit-animation-delay: 6s, 2s;
          animation-delay: 6s, 2s
        }
      
        .snowflake:nth-of-type(7) {
          left: 70%;
          -webkit-animation-delay: 2.5s, 1s;
          animation-delay: 2.5s, 1s
        }
      
        .snowflake:nth-of-type(8) {
          left: 80%;
          -webkit-animation-delay: 1s, 0s;
          animation-delay: 1s, 0s
        }
      
        .snowflake:nth-of-type(9) {
          left: 90%;
          -webkit-animation-delay: 3s, 1.5s;
          animation-delay: 3s, 1.5s
        }
      
        .snowflake:nth-of-type(10) {
          left: 25%;
          -webkit-animation-delay: 2s, 0s;
          animation-delay: 2s, 0s
        }
      
        .snowflake:nth-of-type(11) {
          left: 65%;
          -webkit-animation-delay: 4s, 2.5s;
          animation-delay: 4s, 2.5s
        }
      
        .tet-bg-footer {
          position:fixed;
          z-index:9999;
          bottom:-50px;
          left:0;
          width:100%;
          height:104px;
          background:url(/assets/images/tet_bg1.png?1234) repeat-x bottom left;
          pointer-events: none;
        }
        .tet-icon-footer {
          position:fixed;
          z-index:9999;
          bottom:10px;
          left:20px;
          pointer-events: none;
        }
        .tet-image-left {
          position:fixed;
          z-index:9999;
          top:65px;
          right:0;
          pointer-events: none;
        }
        body.auth-page .tet-image-left {
          top:0 !important;
        }
        #kt_aside_menu {
          padding-bottom: 50px;
        }
        #kt_wrapper {
          padding-bottom: 30px;
        }
        @media (max-width: 1024px) {
          .tet-image-left {
            top: 50px
          }
        }
        @media (max-width: 600px) {
          .snowflake img {
            width: 50%;
          }
          .snowflake:nth-of-type(0) {
            left: 1%;
            -webkit-animation-delay: 0s, 0s;
            animation-delay: 0s, 0s
          }
          .snowflake:nth-of-type(1) {
            left: 11%;
            -webkit-animation-delay: 1s, 1s;
            animation-delay: 1s, 1s
          }
          .snowflake:nth-of-type(2) {
            left: 22%;
            -webkit-animation-delay: 6s, .5s;
            animation-delay: 6s, .5s
          }
          .snowflake:nth-of-type(3) {
            left: 33%;
            -webkit-animation-delay: 4s, 2s;
            animation-delay: 4s, 2s
          }
          .snowflake:nth-of-type(4) {
            left: 4%;
            -webkit-animation-delay: 2s, 2s;
            animation-delay: 2s, 2s
          }
          .snowflake:nth-of-type(5) {
            left: 55%;
            -webkit-animation-delay: 8s, 3s;
            animation-delay: 8s, 3s
          }
          .snowflake:nth-of-type(6) {
            left: 66%;
            -webkit-animation-delay: 6s, 2s;
            animation-delay: 6s, 2s
          }
          .snowflake:nth-of-type(7) {
            left: 77%;
            -webkit-animation-delay: 2.5s, 1s;
            animation-delay: 2.5s, 1s
          }
          .snowflake:nth-of-type(8) {
            left: 88%;
            -webkit-animation-delay: 1s, 0s;
            animation-delay: 1s, 0s
          }
          .snowflake:nth-of-type(9),
          .snowflake:nth-of-type(10),
          .snowflake:nth-of-type(11) {
            display: none;
          }
          .tet-image-left {
            display: none;
          }
          .tet-bg-footer {
            height: 80px;
          }
          .tet-icon-footer {
            bottom:2px;
            height: 60px;
          }
        }